
.map-room.map-room-actual {
  border: 0.125rem solid #f7c14b;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: black;
  cursor: default; }
  .map-room.map-room-actual:hover {
    background-color: #902c1b; }

.map-room-title {
  text-align: center;
  margin: 0 auto 0.25rem; }

.map-room-exits {
  padding-left: 8px;
  min-width: 70px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto; }

.map-room-arrow {
  border: solid #f7c14b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }
  .map-room-arrow.east {
    transform: rotate(-45deg); }
  .map-room-arrow.west {
    transform: rotate(135deg); }
  .map-room-arrow.north {
    transform: rotate(-135deg); }
  .map-room-arrow.south {
    transform: rotate(45deg); }
  .map-room-arrow.up {
    transform: rotate(-90deg); }
  .map-room-arrow.down {
    transform: rotate(90deg); }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

.map-room-cardinal-container,
.map-room-vertical-container {
  display: inline-block;
  min-width: 35px;
  min-height: 35px;
  position: relative; }

.map-room-cardinal-container .map-room-arrow-container.south {
  position: absolute;
  left: 13px;
  bottom: -1px; }

.map-room-cardinal-container .map-room-arrow-container.east {
  position: absolute;
  right: 4px;
  bottom: 8px; }

.map-room-cardinal-container .map-room-arrow-container.west {
  position: absolute;
  left: 4px;
  bottom: 8px; }

.map-room-cardinal-container .map-room-arrow-container.north {
  position: absolute;
  left: 13px;
  top: 0px; }

.map-room-vertical-container .map-room-arrow-container.up {
  position: absolute;
  left: 18px;
  top: 4px; }

.map-room-vertical-container .map-room-arrow-container.down {
  position: absolute;
  left: 10px;
  bottom: 4px; }

.map-container {
  position: relative; }

.map-container,
.map-controls {
  margin: 1rem auto;
  padding: 0 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.map-display-button {
  background-color: #902c1b;
  /* Green */
  border: 0.125rem solid #f7c14b;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all ease 300ms;
  margin: 0.25rem; }
  .map-display-button:hover {
    background-color: #530f03; }
  .map-display-button:focus {
    outline: none; }

.map-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

