body {
  font-family: "Calibri";
  background-color: black;
  color: white;
  margin: auto;
}

.main-header,
.container,
.main-footer {
  max-width: 688px;
  margin: auto;
}

.main-header-image,
.main-footer-image {
  max-width: 100%;
}