.map-controls {
  margin: 1rem auto;
  width: fit-content;
}
.map-display-button {
  background-color: #902c1b; /* Green */
  border: 0.125rem solid #f7c14b;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all ease 300ms;
  margin: 0.25rem;

  &:hover {
    background-color: #530f03;
  }

  &:focus {
    outline: none;
  }
}
